In [0]:
# this practice inspired from the deep learning with keras book
import pandas as pd
import numpy as np
df = pd.read_csv('./act_train1.csv',low_memory=False)
people = pd.read_csv('./people.csv')

import pandas as pd
# df = pd.read_csv('c:/Users/Hari/Desktop/datasets/predicting-red-hat-business-value/act_train1.csv')
# people = pd.read_csv('c:/Users/Hari/Desktop/datasets/predicting-red-hat-business-value/people.csv')

print('act_train shape: ',df.shape)
print('act_train shape: ',people.shape)
pd.__version__

act_train shape:  (1358679, 15)
act_train shape:  (189118, 41)

'0.25.3'

In [0]:
people.columns[people.dtypes == 'bool']

Index(['char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15',
       'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21',
       'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27',
       'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33',
       'char_34', 'char_35', 'char_36', 'char_37'],
      dtype='object')

In [0]:
df.columns
people.columns

Index(['people_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3', 'char_4',
       'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11',
       'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17',
       'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23',
       'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29',
       'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35',
       'char_36', 'char_37', 'char_38'],
      dtype='object')

In [0]:
df.isnull().sum() / df.shape[0] * 100

people_id             0.000000
activity_id           0.000000
date                  0.000000
activity_category     0.000074
char_1               92.692166
char_2               92.692166
char_3               92.692166
char_4               92.692166
char_5               92.692166
char_6               92.692166
char_7               92.692166
char_8               92.692166
char_9               92.692166
char_10               7.307907
outcome               0.000074
dtype: float64

In [0]:
people.isnull().sum() / people.shape[0] * 100

people_id    0.0
char_1       0.0
group_1      0.0
char_2       0.0
date         0.0
char_3       0.0
char_4       0.0
char_5       0.0
char_6       0.0
char_7       0.0
char_8       0.0
char_9       0.0
char_10      0.0
char_11      0.0
char_12      0.0
char_13      0.0
char_14      0.0
char_15      0.0
char_16      0.0
char_17      0.0
char_18      0.0
char_19      0.0
char_20      0.0
char_21      0.0
char_22      0.0
char_23      0.0
char_24      0.0
char_25      0.0
char_26      0.0
char_27      0.0
char_28      0.0
char_29      0.0
char_30      0.0
char_31      0.0
char_32      0.0
char_33      0.0
char_34      0.0
char_35      0.0
char_36      0.0
char_37      0.0
char_38      0.0
dtype: float64

In [0]:
df.columns[df.dtypes == 'object']

Index(['people_id', 'activity_id', 'date', 'activity_category', 'char_1',
       'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8',
       'char_9', 'char_10'],
      dtype='object')

In [0]:
len(people.columns[people.dtypes == 'object'])

12

In [0]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189118 entries, 0 to 189117
Data columns (total 41 columns):
people_id    189118 non-null object
char_1       189118 non-null object
group_1      189118 non-null object
char_2       189118 non-null object
date         189118 non-null object
char_3       189118 non-null object
char_4       189118 non-null object
char_5       189118 non-null object
char_6       189118 non-null object
char_7       189118 non-null object
char_8       189118 non-null object
char_9       189118 non-null object
char_10      189118 non-null bool
char_11      189118 non-null bool
char_12      189118 non-null bool
char_13      189118 non-null bool
char_14      189118 non-null bool
char_15      189118 non-null bool
char_16      189118 non-null bool
char_17      189118 non-null bool
char_18      189118 non-null bool
char_19      189118 non-null bool
char_20      189118 non-null bool
char_21      189118 non-null bool
char_22      189118 non-null bool
char_23      189118 non-null bool
char_24      189118 non-null bool
char_25      189118 non-null bool
char_26      189118 non-null bool
char_27      189118 non-null bool
char_28      189118 non-null bool
char_29      189118 non-null bool
char_30      189118 non-null bool
char_31      189118 non-null bool
char_32      189118 non-null bool
char_33      189118 non-null bool
char_34      189118 non-null bool
char_35      189118 non-null bool
char_36      189118 non-null bool
char_37      189118 non-null bool
char_38      189118 non-null int64
dtypes: bool(28), int64(1), object(12)
memory usage: 23.8+ MB

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1358679 entries, 0 to 1358678
Data columns (total 15 columns):
people_id            1358679 non-null object
activity_id          1358679 non-null object
date                 1358679 non-null object
activity_category    1358678 non-null object
char_1               99290 non-null object
char_2               99290 non-null object
char_3               99290 non-null object
char_4               99290 non-null object
char_5               99290 non-null object
char_6               99290 non-null object
char_7               99290 non-null object
char_8               99290 non-null object
char_9               99290 non-null object
char_10              1259388 non-null object
outcome              1358678 non-null float64
dtypes: float64(1), object(14)
memory usage: 155.5+ MB

In [0]:
len(df.columns[df.dtypes == 'object'])

14

In [0]:
df.columns[df.dtypes == 'object']

Index(['people_id', 'activity_id', 'date', 'activity_category', 'char_1',
       'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8',
       'char_9', 'char_10'],
      dtype='object')

In [0]:
columns_to_remove = ["char_"+str(i) for i in range(0,10)]
columns_to_remove

['char_0',
 'char_1',
 'char_2',
 'char_3',
 'char_4',
 'char_5',
 'char_6',
 'char_7',
 'char_8',
 'char_9']

In [0]:
df = df[list(set(df.columns) - set(columns_to_remove))]
df.head()

  people_id        date activity_category  char_10   activity_id  outcome
0   ppl_100  2023-08-26            type 4  type 76  act2_1734928      0.0
1   ppl_100  2022-09-27            type 2   type 1  act2_2434093      0.0
2   ppl_100  2022-09-27            type 2   type 1  act2_3404049      0.0
3   ppl_100  2023-08-04            type 2   type 1  act2_3651215      0.0
4   ppl_100  2023-08-26            type 2   type 1  act2_4109017      0.0

In [0]:
#Rename the columns,we have to pass the columns names key:value to{'oldname':'new_name}  
df = df.rename(columns={'date':'activity_date','char_10':'activity_type'})
df.columns

Index(['people_id', 'activity_date', 'activity_category', 'activity_type',
       'activity_id', 'outcome'],
      dtype='object')

In [0]:
df['activity_type'] = df['activity_type'].fillna(df['activity_type'].mode()[0])

In [0]:
df['activity_type'].tail()

1358674      type 52
1358675    type 1490
1358676       type 1
1358677       type 1
1358678       type 1
Name: activity_type, dtype: object

In [0]:

df.tail()

          people_id activity_date  ...   activity_id outcome
1358674  ppl_324026    2023-01-27  ...  act2_3923712     1.0
1358675  ppl_324026    2023-01-27  ...  act2_3988938     1.0
1358676  ppl_324026    2023-01-12  ...   act2_569263     1.0
1358677  ppl_324027    2023-01-18  ...   act1_101333     0.0
1358678  ppl_324027     2022-07-2  ...    act1_75390     NaN

[5 rows x 6 columns]

In [0]:
# print the final activity dataset shape
df.shape
# df_new.tail()

(1358679, 6)

In [0]:
# df_new.info()

In [0]:
df_new = df.merge(people,on=['people_id'],how='inner')
df_new.columns

Index(['people_id', 'activity_date', 'activity_category', 'activity_type',
       'activity_id', 'outcome', 'char_1', 'group_1', 'char_2', 'date',
       'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9',
       'char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15',
       'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21',
       'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27',
       'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33',
       'char_34', 'char_35', 'char_36', 'char_37', 'char_38'],
      dtype='object')

In [0]:
df_new.columns[df_new.dtypes == 'object']

Index(['people_id', 'activity_date', 'activity_category', 'activity_type',
       'activity_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3',
       'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9'],
      dtype='object')

In [0]:
df_new.dtypes.unique()

array([dtype('O'), dtype('float64'), dtype('bool'), dtype('int64')],
      dtype=object)

In [0]:
df['outcome'].value_counts()

0.0    753241
1.0    605437
Name: outcome, dtype: int64

# Data Engineering

In [0]:
# checking the distinct datatypes in the datasets
print('Distinct datatypes in the dataset: ' ,df_new.dtypes.unique())
print('Disticct booleans in the dataset',df_new.columns[df_new.dtypes == 'bool'])
print('Disticct booleans in the dataset',len(df_new.columns[df_new.dtypes == 'bool']))


print('Disticct categorical in the dataset',df_new.columns[df_new.dtypes == 'O'])
print('Disticct categorical in the dataset',len(df_new.columns[df_new.dtypes == 'O']))


print('Disticct inerger in the dataset',df_new.columns[df_new.dtypes == 'float64'])
print('Disticct inerger in the dataset',len(df_new.columns[df_new.dtypes == 'float64']))

print('Disticct inerger in the dataset',df_new.columns[df_new.dtypes == 'int64'])
print('Disticct inerger in the dataset',len(df_new.columns[df_new.dtypes == 'int64']))

Distinct datatypes in the dataset:  [dtype('O') dtype('float64') dtype('bool') dtype('int64')]
Disticct booleans in the dataset Index(['char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15',
       'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21',
       'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27',
       'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33',
       'char_34', 'char_35', 'char_36', 'char_37'],
      dtype='object')
Disticct booleans in the dataset 28
Disticct categorical in the dataset Index(['people_id', 'activity_date', 'activity_category', 'activity_type',
       'activity_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3',
       'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9'],
      dtype='object')
Disticct categorical in the dataset 16
Disticct inerger in the dataset Index(['outcome'], dtype='object')
Disticct inerger in the dataset 1
Disticct inerger in the dataset Index(['char_38'], dtype='object')
Disticct inerger in the dataset 1

In [0]:
#float64 --> is numeric datatypes
#"O" --> is categorical datatypes
#'bool' --> boolean values 
# create a dataset  with datatypes
dtypes_df = pd.DataFrame(df_new.dtypes)
dtypes_df
len(dtypes_df)

46

In [0]:
# Assign column name 
dtypes_df.columns = ['DataTypes']

In [0]:
df_new.columns[df_new.dtypes == 'bool']

Index(['char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15',
       'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21',
       'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27',
       'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33',
       'char_34', 'char_35', 'char_36', 'char_37'],
      dtype='object')

In [0]:
boolean_columns = dtypes_df.index[dtypes_df['DataTypes'] == 'bool'].values
boolean_columns

array(['char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15',
       'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21',
       'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27',
       'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33',
       'char_34', 'char_35', 'char_36', 'char_37'], dtype=object)

# Convert all boolean columns to binary numeric values

In [0]:
for column in boolean_columns:
  df_new[column] = np.where(df_new[column] == True,0,1)
print('Distinct datatypes after processing: ',df_new.dtypes.unique())

#Notice that is all boolean columns are repleace with binary numbers
print('shape of dataset after boolean columns replecement: ',df_new.shape)

Distinct datatypes after processing:  [dtype('O') dtype('float64') dtype('int64')]
shape of dataset after boolean columns replecement:  (1358679, 46)

In [0]:
# Extract all object categrical values from dataframe temp
categorical_columns = dtypes_df.index[dtypes_df['DataTypes'] == 'O']
categorical_columns
len(categorical_columns)

16

In [0]:
# Check the number of distinct values in each categorical columns
for column in categorical_columns:
  print(column + 'column has :',str(len(df_new[column].unique()))+ " distinct values ")

people_idcolumn has : 94614 distinct values
activity_datecolumn has : 412 distinct values
activity_categorycolumn has : 8 distinct values
activity_typecolumn has : 5576 distinct values
activity_idcolumn has : 1358679 distinct values
char_1column has : 2 distinct values
group_1column has : 22166 distinct values
char_2column has : 3 distinct values
datecolumn has : 1193 distinct values
char_3column has : 42 distinct values
char_4column has : 25 distinct values
char_5column has : 9 distinct values
char_6column has : 7 distinct values
char_7column has : 25 distinct values
char_8column has : 8 distinct values
char_9column has : 9 distinct values

In [0]:
# create date related for ' date' in customer data
df_new['date'] = pd.to_datetime(df_new['date'],infer_datetime_format=True)
df_new['date']

0         2021-06-29
1         2021-06-29
2         2021-06-29
3         2021-06-29
4         2021-06-29
             ...
1358674   2022-04-28
1358675   2022-04-28
1358676   2022-04-28
1358677   2022-07-27
1358678   2022-07-27
Name: date, Length: 1358679, dtype: datetime64[ns]

In [0]:
df_new['Year'] = df_new['date'].dt.year
df_new['Month'] = df_new['date'].dt.month
df_new['Quarter'] = df_new['date'].dt.quarter
df_new['Week'] = df_new['date'].dt.week
df_new['WeekDay'] = df_new['date'].dt.weekday
df_new['Day'] = df_new['date'].dt.day

In [0]:
# Create date related feature for another date type column called 'activity_date'
# df_new['activity_date'] = pd.to_datetime(df_new['activity_date'],infer_datetime_format=True)
df_new['activity_date'] = pd.to_datetime(df_new['activity_date'])
df_new['activity_Year'] = df_new['activity_date'].dt.year
df_new['activity_Month'] = df_new['activity_date'].dt.month
df_new['activity_Quarter'] = df_new['activity_date'].dt.quarter
df_new['activity_Week'] = df_new['activity_date'].dt.week
df_new['activity_WeekDay'] = df_new['activity_date'].dt.weekday
df_new['activity_Day'] = df_new['activity_date'].dt.day

In [0]:
df_new.shape

(1358679, 58)

In [0]:
#The last processing step is converting categorical columns : that has large number of values , their either we have to convert those categorical variables into numrical values are extract 
# First find the informative way i.e importance of variables

print(df_new[['people_id','activity_type','activity_id','group_1']])
 # if you want to call records in the respective columns call is -->[[]]

          people_id activity_type   activity_id      group_1
0           ppl_100       type 76  act2_1734928  group 17304
1           ppl_100        type 1  act2_2434093  group 17304
2           ppl_100        type 1  act2_3404049  group 17304
3           ppl_100        type 1  act2_3651215  group 17304
4           ppl_100        type 1  act2_4109017  group 17304
...             ...           ...           ...          ...
1358674  ppl_324026       type 52  act2_3923712  group 13198
1358675  ppl_324026     type 1490  act2_3988938  group 13198
1358676  ppl_324026        type 1   act2_569263  group 13198
1358677  ppl_324027        type 1   act1_101333  group 17304
1358678  ppl_324027        type 1    act1_75390  group 17304

[1358679 rows x 4 columns]

In [0]:
 #For people_id we need to extract number from the word after "_"
df_new.people_id = df_new.people_id.apply(lambda x: x.split("_")[1]) # here 1--> represent he index i.e second position values[numer or  numerica data] people_id
                                                                     # here 0--> locate the categorical data

In [0]:
df_new.people_id = pd.to_numeric(df_new.people_id) 
type(df_new.people_id)
df_new.people_id
# df_new.activity_type

0             100.0
1             100.0
2             100.0
3             100.0
4             100.0
             ...
1358674    324026.0
1358675    324026.0
1358676    324026.0
1358677    324027.0
1358678    324027.0
Name: people_id, Length: 1358679, dtype: float64

In [0]:
# For activity Id also,we would need to extract values after "-"
df_new.activity_id = df_new.activity_id.apply(lambda x: x.split('_')[1])
df_new.activity_id = pd.to_numeric(df_new.activity_id)
df_new.activity_id

0          1734928.0
1          2434093.0
2          3404049.0
3          3651215.0
4          4109017.0
             ...
1358674    3923712.0
1358675    3988938.0
1358676     569263.0
1358677     101333.0
1358678      75390.0
Name: activity_id, Length: 1358679, dtype: float64

In [0]:
#For activity_type , we would need to wxtract values after "
df_new.activity_type = df_new.activity_type.apply(lambda x: x.split(' ')[1])
df_new.activity_type = pd.to_numeric(df_new.activity_type)
# df_new.activity_type = pd.to_numeric(df_new.group_1)
df_new.activity_type

0            76
1             1
2             1
3             1
4             1
           ...
1358674      52
1358675    1490
1358676       1
1358677       1
1358678       1
Name: activity_type, Length: 1358679, dtype: int64

In [0]:
df_new.dtypes.count()

58

In [0]:
# Double check the new values in the dataframe
print(df_new[['people_id','activity_type','activity_id','group_1']].head())
# successfully we transformed all categorical variable into number data

   people_id  activity_type  activity_id      group_1
0      100.0             76    1734928.0  group 17304
1      100.0              1    2434093.0  group 17304
2      100.0              1    3404049.0  group 17304
3      100.0              1    3651215.0  group 17304
4      100.0              1    4109017.0  group 17304

In [0]:
# For activity type, we need to extract values after 
df_new.group_1 = df_new.group_1.apply(lambda x:x.split(" ")[1])
df_new.group_1 = pd.to_numeric(df_new.group_1)
df_new.group_1

0          17304
1          17304
2          17304
3          17304
4          17304
           ...
1358674    13198
1358675    13198
1358676    13198
1358677    17304
1358678    17304
Name: group_1, Length: 1358679, dtype: int64

In [0]:
print('cross check the the categorical data in dataframe: ',df_new.dtypes.unique())
# But still one one column has categorical data

cross check the the categorical data in dataframe:  [dtype('float64') dtype('<M8[ns]') dtype('O') dtype('int64')]

In [0]:
print(df_new[['people_id','activity_type','activity_id','group_1']].head())
# df_new['group_1']
df_new[['people_id','activity_type','activity_id','group_1']].astype('int64')

   people_id  activity_type  activity_id  group_1
0      100.0             76    1734928.0    17304
1      100.0              1    2434093.0    17304
2      100.0              1    3404049.0    17304
3      100.0              1    3651215.0    17304
4      100.0              1    4109017.0    17304

         people_id  activity_type  activity_id  group_1
0              100             76      1734928    17304
1              100              1      2434093    17304
2              100              1      3404049    17304
3              100              1      3651215    17304
4              100              1      4109017    17304
...            ...            ...          ...      ...
1358674     324026             52      3923712    13198
1358675     324026           1490      3988938    13198
1358676     324026              1       569263    13198
1358677     324027              1       101333    17304
1358678     324027              1        75390    17304

[1358679 rows x 4 columns]

In [0]:
len(df_new.columns[df_new.dtypes == 'object'])

10

In [0]:
df_new.columns[df_new.dtypes == 'O']

Index(['activity_category', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5',
       'char_6', 'char_7', 'char_8', 'char_9'],
      dtype='object')

In [0]:
len(df_new.columns[df_new.dtypes == 'O'])

10

In [0]:
df_new.info()
df_new = df_new.drop(['date','activity_date','group_1'],axis='columns')
df_new

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1358679 entries, 0 to 1358678
Data columns (total 58 columns):
people_id            1358679 non-null float64
activity_date        1358679 non-null datetime64[ns]
activity_category    1358678 non-null object
activity_type        1358679 non-null int64
activity_id          1358679 non-null float64
outcome              1358678 non-null float64
char_1               1358679 non-null object
group_1              1358679 non-null int64
char_2               1358679 non-null object
date                 1358679 non-null datetime64[ns]
char_3               1358679 non-null object
char_4               1358679 non-null object
char_5               1358679 non-null object
char_6               1358679 non-null object
char_7               1358679 non-null object
char_8               1358679 non-null object
char_9               1358679 non-null object
char_10              1358679 non-null int64
char_11              1358679 non-null int64
char_12              1358679 non-null int64
char_13              1358679 non-null int64
char_14              1358679 non-null int64
char_15              1358679 non-null int64
char_16              1358679 non-null int64
char_17              1358679 non-null int64
char_18              1358679 non-null int64
char_19              1358679 non-null int64
char_20              1358679 non-null int64
char_21              1358679 non-null int64
char_22              1358679 non-null int64
char_23              1358679 non-null int64
char_24              1358679 non-null int64
char_25              1358679 non-null int64
char_26              1358679 non-null int64
char_27              1358679 non-null int64
char_28              1358679 non-null int64
char_29              1358679 non-null int64
char_30              1358679 non-null int64
char_31              1358679 non-null int64
char_32              1358679 non-null int64
char_33              1358679 non-null int64
char_34              1358679 non-null int64
char_35              1358679 non-null int64
char_36              1358679 non-null int64
char_37              1358679 non-null int64
char_38              1358679 non-null int64
Year                 1358679 non-null int64
Month                1358679 non-null int64
Quarter              1358679 non-null int64
Week                 1358679 non-null int64
WeekDay              1358679 non-null int64
Day                  1358679 non-null int64
activity_Year        1358679 non-null int64
activity_Month       1358679 non-null int64
activity_Quarter     1358679 non-null int64
activity_Week        1358679 non-null int64
activity_WeekDay     1358679 non-null int64
activity_Day         1358679 non-null int64
dtypes: datetime64[ns](2), float64(3), int64(43), object(10)
memory usage: 611.6+ MB

         people_id activity_category  ...  activity_WeekDay  activity_Day
0            100.0            type 4  ...                 5            26
1            100.0            type 2  ...                 1            27
2            100.0            type 2  ...                 1            27
3            100.0            type 2  ...                 4             4
4            100.0            type 2  ...                 5            26
...            ...               ...  ...               ...           ...
1358674   324026.0            type 3  ...                 4            27
1358675   324026.0            type 4  ...                 4            27
1358676   324026.0            type 2  ...                 3            12
1358677   324027.0            type 1  ...                 2            18
1358678   324027.0               NaN  ...                 5             2

[1358679 rows x 55 columns]

In [0]:
df_new.columns

Index(['people_id', 'activity_category', 'activity_type', 'activity_id',
       'outcome', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6',
       'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12',
       'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18',
       'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24',
       'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'Year', 'Month', 'Quarter', 'Week', 'WeekDay',
       'Day', 'activity_Year', 'activity_Month', 'activity_Quarter',
       'activity_Week', 'activity_WeekDay', 'activity_Day'],
      dtype='object')

In [0]:
df_new.columns[df_new.dtypes == 'O']
cat_col = df_new.columns[df_new.dtypes == 'O']
len(cat_col)
len(df_new.columns[df_new.dtypes == 'O'])

10

In [0]:
df_new.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('int64')], dtype=object)

In [0]:
df_new

         people_id activity_category  ...  activity_WeekDay  activity_Day
0            100.0            type 4  ...                 5            26
1            100.0            type 2  ...                 1            27
2            100.0            type 2  ...                 1            27
3            100.0            type 2  ...                 4             4
4            100.0            type 2  ...                 5            26
...            ...               ...  ...               ...           ...
1358674   324026.0            type 3  ...                 4            27
1358675   324026.0            type 4  ...                 4            27
1358676   324026.0            type 2  ...                 3            12
1358677   324027.0            type 1  ...                 2            18
1358678   324027.0               NaN  ...                 5             2

[1358679 rows x 55 columns]

In [0]:
dtypes1_df = pd.DataFrame(df_new.dtypes)
dtypes1_df
len(dtypes1_df)
dtypes1_df

                         0
people_id          float64
activity_category   object
activity_type        int64
activity_id        float64
outcome            float64
char_1              object
char_2              object
char_3              object
char_4              object
char_5              object
char_6              object
char_7              object
char_8              object
char_9              object
char_10              int64
char_11              int64
char_12              int64
char_13              int64
char_14              int64
char_15              int64
char_16              int64
char_17              int64
char_18              int64
char_19              int64
char_20              int64
char_21              int64
char_22              int64
char_23              int64
char_24              int64
char_25              int64
char_26              int64
char_27              int64
char_28              int64
char_29              int64
char_30              int64
char_31              int64
char_32              int64
char_33              int64
char_34              int64
char_35              int64
char_36              int64
char_37              int64
char_38              int64
Year                 int64
Month                int64
Quarter              int64
Week                 int64
WeekDay              int64
Day                  int64
activity_Year        int64
activity_Month       int64
activity_Quarter     int64
activity_Week        int64
activity_WeekDay     int64
activity_Day         int64

In [0]:
df_new.columns[df_new.dtypes == 'O']
# len(df_new.columns[df_new.dtypes == 'O'])
len(df_new.columns[df_new.dtypes == 'O'])

10

In [0]:
df_new.shape

(1358679, 55)

In [0]:
df_new.columns[df_new.dtypes=='O']

Index(['activity_category', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5',
       'char_6', 'char_7', 'char_8', 'char_9'],
      dtype='object')

In [0]:
df_new_f = df_new

In [0]:
df_new = df_new.loc[:,['char_29', 'char_30', 'char_31','char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37']].astype('bool').where

In [0]:
# df_new.columns[df_new.dtypes == 'bool']

In [0]:
# def bool_fun(df):
#     if df.columns[df.dtypes == 'bool']:
#         if 
bool_c = ['char_29', 'char_30', 'char_31','char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37']
for bc in bool_c:
    print(bc)
    df_new = np.where(df_new_f[bc] == True,1,0)

# for column in cat_columns:
#   df_new[column] = np.where(df_new[column] == True,0,1)
# print('Distinct datatypes after processing: ',df_new.dtypes.unique())

# #Notice that is all boolean columns are repleace with binary numbers
# print('shape of dataset after boolean columns replecement: ',df_new.shape)

char_29
char_30
char_31
char_32
char_33
char_34
char_35
char_36
char_37

In [0]:
df_new
df_new_f = df_new_f.dropna()

In [0]:
dtypes1_df.columns = ['dataTypes']
dtypes1_df.info()

target = ['outcome']
# Seperate the numerica caolumns

numeric_columns = list(set(dtypes1_df.index[(dtypes1_df.dataTypes == 'float64') | (dtypes1_df.dataTypes == 'int64')].values) -set(target))
cat_columns = list(set(dtypes1_df.index[(dtypes1_df.dataTypes == 'O')].values) -set(target))

numeric_columns

print(len(numeric_columns))
print(len(cat_columns))

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, people_id to activity_Day
Data columns (total 1 columns):
dataTypes    55 non-null object
dtypes: object(1)
memory usage: 3.4+ KB
44
10

In [0]:
df_new

df_new_f.columns

Index(['people_id', 'activity_category', 'activity_type', 'activity_id',
       'outcome', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6',
       'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12',
       'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18',
       'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24',
       'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'Year', 'Month', 'Quarter', 'Week', 'WeekDay',
       'Day', 'activity_Year', 'activity_Month', 'activity_Quarter',
       'activity_Week', 'activity_WeekDay', 'activity_Day'],
      dtype='object')

In [0]:
# df_new.dtypes.unique()

In [0]:
# from sklearn.preprocessing import LabelEncoder,OneHotEncoder
# # Define a function that will intake the raw dataframe and the column name and return a one hot encode DF
# def create_ohe(df,col):
#   le = LabelEncoder()
#   a = le.fit_transform(df_new[col]).reshape(-1,1)
#   ohe = OneHotEncoder(sparse=False)
#   column_names = [col+ "_"+str(i) for i in le.classes_]
#   return (pd.DataFrame(ohe.fit_transform(a),columns=column_names))

In [0]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
# Define a function that will intake the raw dataframe and the column name and return a one hot encode DF
def create_ohe(df,col):
  le = LabelEncoder()
  a = le.fit_transform(df_new_f[col]).reshape(-1,1)
  ohe = OneHotEncoder(sparse=False)
  column_names = [col+ "_"+str(i) for i in le.classes_]
  return (pd.DataFrame(ohe.fit_transform(a),columns=column_names))

In [0]:
# Sice above function coverts the column, one at a time,we createa loop to create final dataset with all features 

# target = ['outcome']
# Seperate the numerica caolumns

# numeric_columns = list(set(temp_f.index[(temp_f.DataTypes == 'float64') | (temp_f.DataTypes == 'int64')].values) -set(target))

temp = df_new_f[numeric_columns]
# for column in categorical_columns:
for column in cat_columns:
  temp_df = create_ohe(df_new_f,column)
  temp = pd.concat([temp,temp_df],axis=1)
print('shape of dataframe after ohe', temp.shape)

shape of dataframe after ohe (1358678, 181)

In [0]:
df_new_f

         people_id activity_category  ...  activity_WeekDay  activity_Day
0            100.0            type 4  ...                 5            26
1            100.0            type 2  ...                 1            27
2            100.0            type 2  ...                 1            27
3            100.0            type 2  ...                 4             4
4            100.0            type 2  ...                 5            26
...            ...               ...  ...               ...           ...
1358673   324026.0            type 4  ...                 4            27
1358674   324026.0            type 3  ...                 4            27
1358675   324026.0            type 4  ...                 4            27
1358676   324026.0            type 2  ...                 3            12
1358677   324027.0            type 1  ...                 2            18

[1358678 rows x 55 columns]

In [0]:
df_new_final = temp

In [0]:
df_new.columns[df_new.dtypes == 'bool']

AttributeError: ignored

In [0]:
# df_new.loc[:,['activity_category', 'char_1', 'group_1', 'char_2', 'char_3', 'char_4',
#        'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_23', 'char_24',
#        'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30',
#        'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
#        'char_37']].nunique().sum()

In [0]:



df_new_f['outcome'].shape
# df_new_f.drop([1358677])
# df_new_final.shape

(1358678,)

In [0]:
df_final = df_new_final.drop([1358677],axis=0)
df_final.shape
df_new_final.shape

(1358678, 181)

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_new_final,df_new_f['outcome'],test_size = 0.2,random_state=212)

In [0]:
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,test_size=0.1,random_state=121)

In [0]:
x_train.shape

(978247, 181)

In [0]:
y_train.shape

(978247,)

In [0]:
df_new_final.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

# Model building

In [0]:
from keras.models import  Sequential
from keras.layers import Dense
# design the deep neural network

In [0]:
model = Sequential()
model.add(Dense(256,input_dim=x_train.shape[1],activation='relu'))
model.add(Dense(256,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [0]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [0]:
model.fit(x_train,y_train,validation_data= (x_val,y_val),batch_size=63,epochs=3)

Train on 978247 samples, validate on 108695 samples
Epoch 1/3
978247/978247 [==============================] - 71s 72us/step - loss: 8.8309 - acc: 0.4461 - val_loss: 8.8695 - val_acc: 0.4437
Epoch 2/3
978247/978247 [==============================] - 69s 71us/step - loss: 8.8313 - acc: 0.4461 - val_loss: 8.8695 - val_acc: 0.4437
Epoch 3/3
978247/978247 [==============================] - 69s 71us/step - loss: 8.8313 - acc: 0.4461 - val_loss: 8.8695 - val_acc: 0.4437

In [0]:
# df_new_f

In [0]:
# increasing the number of neurans
model = Sequential()
model.add(Dense(512,input_dim=x_train.shape[1],activation='relu'))
# model.add(Dense(256,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [0]:
model.fit(x_train,y_train,validation_data= (x_val,y_val),batch_size=63,epochs=3)

Train on 978247 samples, validate on 108695 samples
Epoch 1/3
978247/978247 [==============================] - 66s 68us/step - loss: 7.7314 - acc: 0.5183 - val_loss: 7.1509 - val_acc: 0.5563
Epoch 2/3
978247/978247 [==============================] - 66s 68us/step - loss: 7.1895 - acc: 0.5539 - val_loss: 7.1509 - val_acc: 0.5563
Epoch 3/3
978247/978247 [==============================] - 61s 63us/step - loss: 7.1895 - acc: 0.5539 - val_loss: 7.1509 - val_acc: 0.5563

In [0]:
model3 = Sequential()
model3.add(Dense(512,input_dim=x_train.shape[1],activation='relu'))
model3.add(Dense(512,activation='relu'))
model3.add(Dense(1,activation='sigmoid'))
model3.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [0]:
model3.fit(x_train,y_train,validation_data=(x_val,y_val),epochs=3,batch_size=64)

Train on 978247 samples, validate on 108695 samples
Epoch 1/3
978247/978247 [==============================] - 128s 131us/step - loss: 8.8306 - acc: 0.4461 - val_loss: 8.8695 - val_acc: 0.4437
Epoch 2/3
978247/978247 [==============================] - 127s 130us/step - loss: 8.8313 - acc: 0.4461 - val_loss: 8.8695 - val_acc: 0.4437
Epoch 3/3
978247/978247 [==============================] - 126s 129us/step - loss: 8.8313 - acc: 0.4461 - val_loss: 8.8695 - val_acc: 0.4437

# Standize, Normalize or scale the data

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
x_train_scaled = scaler.transform(x_train)
x_val_scaled = scaler.transform(x_val)
x_test_scaled = scaler.transform(x_test)

# DNN with imporved data

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
model = Sequential()
model.add(Dense(512,input_dim=x_train_scaled.shape[1],activation='relu'))
model.add(Dense(512,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val),epochs=3,batch_size=64)

Train on 978247 samples, validate on 108695 samples
Epoch 1/3
978247/978247 [==============================] - 131s 134us/step - loss: 0.2077 - acc: 0.9116 - val_loss: 0.1461 - val_acc: 0.9412
Epoch 2/3
978247/978247 [==============================] - 129s 132us/step - loss: 0.1246 - acc: 0.9511 - val_loss: 0.1101 - val_acc: 0.9565
Epoch 3/3
978247/978247 [==============================] - 129s 132us/step - loss: 0.0954 - acc: 0.9634 - val_loss: 0.0961 - val_acc: 0.9637

In [0]:
model = Sequential()
model.add(Dense(512,input_dim=x_train_scaled.shape[1],activation='relu'))
model.add(Dense(512,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val),epochs=3,batch_size=64)

Train on 978247 samples, validate on 108695 samples
Epoch 1/3
978247/978247 [==============================] - 133s 136us/step - loss: 0.2074 - acc: 0.9114 - val_loss: 0.1475 - val_acc: 0.9402
Epoch 2/3
978247/978247 [==============================] - 132s 135us/step - loss: 0.1244 - acc: 0.9508 - val_loss: 0.1118 - val_acc: 0.9568
Epoch 3/3
978247/978247 [==============================] - 133s 136us/step - loss: 0.0951 - acc: 0.9635 - val_loss: 0.0927 - val_acc: 0.9650

In [0]:
model = Sequential()
model.add(Dense(1024,input_dim=x_train_scaled.shape[1],activation='relu'))
model.add(Dense(1024,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val),epochs=3,batch_size=64)

Train on 978247 samples, validate on 108695 samples
Epoch 1/3
978247/978247 [==============================] - 333s 341us/step - loss: 0.2102 - acc: 0.9095 - val_loss: 0.1529 - val_acc: 0.9387
Epoch 2/3
978247/978247 [==============================] - 337s 344us/step - loss: 0.1249 - acc: 0.9506 - val_loss: 0.1138 - val_acc: 0.9556
Epoch 3/3
978247/978247 [==============================] - 329s 336us/step - loss: 0.0941 - acc: 0.9633 - val_loss: 0.0944 - val_acc: 0.9651